<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>멤버 추가</title>
</head>
<body>
<h1>프로젝트 멤버 추가</h1><hr/>
<form action="/projectUser/add" method="post">
    <div th:each="user : ${userIds}">
        <input type="checkbox" th:field="*{userIdList}" th:value="${user.userId}">
        <label th:text="${user.userId}"></label>
    </div>
    <input type="hidden" name="projectNo" th:value="${projectNo}"/>
    <input type="submit" value="추가"/>
</form>
</body>
</html>
