<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>태스크 상세</title>
</head>
<body>
<h1>태스크 상세</h1>
<h2 th:text="${task.taskTitle}"></h2>
<a th:href="@{/project/detail/{projectNo}(projectNo = ${projectNo})}" th:text="이전으로"></a>
<hr/>
<table border="1">
    <tr>
        <th>내용</th>
        <th>등록자</th>
        <th>마일스톤</th>
        <th>태그</th>
    </tr>
    <tr>
        <td th:text="${task.taskContent}"></td>
        <td th:text="${task.taskRegistrant}"></td>
        <td>
            <span th:text="${milestone?.milestoneName}"></span>
        </td>
        <td>
            <span th:each="tag : ${tags}" th:text="${tag?.tagName}"></span>
        </td>
    </tr>
</table>
</body>
</html>