<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>태스크 추가</title>
</head>
<body>
<h1>태스크 추가</h1><hr/>
<form action="/task/register" method="post">
    태스크 제목: <input type="text" name="taskTitle"/><br/>
    태스크 내용: <input type="text" name="taskContent"/><br/>
    마일스톤:
    <div th:each="milestone : ${milestones}">
        <input type="radio" th:name="milestone" th:value="${milestone.milestoneNo}">
        <label th:text="${milestone.milestoneName}"></label>
    </div>
    태그:
    <div th:each="tag : ${tags}">
        <input type="checkbox" th:name="tags" th:value="${tag.tagNo}">
        <label th:text="${tag.tagName}"></label>
    </div>
    <input type="hidden" name="projectNo" th:value="${projectNo}"/>
    <input type="hidden" name="taskRegistrant" th:value="${userName}"/>
    <input type="submit" value="추가"/>
</form>
</body>
</html>