<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 상세</title>
</head>
<body>
<h1>프로젝트 상세</h1>
<h2 th:text="${project.projectName}"></h2>
<a th:href="@{'/'}" th:text="홈으로"></a>
<hr/>
<h4 th:text="태스크"></h4>
<a th:href="@{/task/register/{projectNo}(projectNo = ${project.projectNo})}">태스크 추가</a>
<table th:border="1">
    <tr>
        <th>제목</th>
        <th>등록(수정)자</th>
        <th>상세보기</th>
        <th>삭제</th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.taskTitle}"></td>
        <td th:text="${task.taskRegistrant}"></td>
        <td>
            <a th:href="@{/task/detail/{taskNo}/{projectNo}(taskNo = ${task.taskNo}, projectNo = ${project.projectNo})}"><button>상세</button></a>
        </td>
        <td>
            <a th:href="@{/task/delete/{taskNo}(taskNo = ${task.taskNo})}"><button>삭제</button></a>
        </td>
    </tr>
</table><hr/>
<h4 th:text="마일스톤"></h4>
<a th:href="@{/milestone/register/{projectNo}(projectNo = ${project.projectNo})}">마일스톤추가</a>
<table th:border="1">
    <tr>
        <th>이름</th>
        <th>편집</th>
    </tr>
    <tr th:each="milestone : ${milestones}">
        <td th:text="${milestone.milestoneName}"></td>
        <td>
            <a th:href="@{/milestone/modify/{milestoneNo}(milestoneNo = ${milestone.milestoneNo})}"><button>수정</button></a>
            <a th:href="@{/milestone/delete/{milestoneNo}(milestoneNo = ${milestone.milestoneNo})}"><button>삭제</button></a>
        </td>
    </tr>
</table><hr/>
<h4 th:text="태그"></h4>
<a th:href="@{/tag/register/{projectNo}(projectNo = ${project.projectNo})}">태그추가</a>
<table th:border="1">
    <tr>
        <th>이름</th>
        <th>편집</th>
    </tr>
    <tr th:each="tag : ${tags}">
        <td th:text="${tag.tagName}"></td>
        <td>
            <a th:href="@{/tag/modify/{tagNo}(tagNo = ${tag.tagNo})}"><button>수정</button></a>
            <a th:href="@{/tag/delete/{tagNo}(tagNo = ${tag.tagNo})}"><button>삭제</button></a>
        </td>
    </tr>
</table><hr/>
<h4 th:text="프로젝트멤버"></h4>
<a th:href="@{/projectUser/add/{projectNo}/{adminId}(projectNo = ${project.projectNo}, adminId = ${project.adminId})}">멤버추가</a>
<table th:border="1">
    <tr>
        <th>아이디</th>
        <th>편집</th>
    </tr>
    <tr th:each="member : ${members}">
        <td th:text="${member.userId}"></td>
        <td>
            <a th:href="@{/projectUser/delete/{userId}/{projectNo}(userId = ${member.userId}, projectNo = ${project.projectNo})}"><button>삭제</button></a>
        </td>
    </tr>
</table>
</body>
</html>