<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 상세</title>
</head>
<body>
<h1>프로젝트 상세</h1>
<h2 th:text="${project.projectName}"></h2>
<hr/>
<h4 th:text="태스크"></h4>
<!-- here 편집(추가,,,, 수정,삭제는 상세로 들어가서...?)버튼-->
<table th:border="1">
    <tr>
        <th>제목</th>
        <th>등록자</th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.taskTitle}"></td>
        <td th:text="${task.taskRegistrant}"></td>
    </tr>
</table><hr/>
<h4 th:text="마일스톤"></h4>
<table th:border="1">
    <tr>
        <th>이름</th>
    </tr>
    <tr th:each="milestone : ${milestones}">
        <td th:text="${milestone.milestoneName}"></td>
    </tr>
</table><hr/>
<h4 th:text="태그"></h4>
<table th:border="1">
    <tr>
        <th>이름</th>
    </tr>
    <tr th:each="tag : ${tags}">
        <td th:text="${tag.tagName}"></td>
    </tr>
</table><hr/>
<h4 th:text="프로젝트멤버"></h4>
<table th:border="1">
    <tr>
        <th>아이디</th>
    </tr>
    <tr th:each="member : ${members}">
        <td th:text="${member.userId}"></td>
    </tr>
</table>
</body>
</html>